name: Deploy to QA

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Salesforce CLI
        run: |
          npm install --global sfdx-cli

      # AUTHENTICATE TO TARGET ORG USING SFDX URL
      - name: Authenticate to QA
        run: |
          mkdir -p auth
          echo "${{ secrets.SFDX_AUTH_URL_QA }}" > ./auth/qa.txt
          sfdx auth:sfdxurl:store -f ./auth/qa.txt -a QA

      # Run deployment
      - name: Deploy to QA
        run: |
          sfdx force:source:deploy -p force-app -u QA --json --loglevel fatal
